.header {
  height: 60px;
  background-color: white;
  border-bottom: 1px gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  place-content: center flex-start;

  &__wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
  }

  &__menu {
    display: block;
  }
}
